################
## Tomcat
################

/WEB-INF/*

#################
## WHEELS
#################

/Wheels/*

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


## TODO: If you have NuGet Package Restore enabled, uncomment this
#**/packages/ 



############
## Windows
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini




# Mac crap
.DS_Store
